name: Test VSCE Extension

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test-vsce:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests on Linux
        run: xvfb-run -a npm test
        if: runner.os == 'Linux'

      - name: Run Tests on Non-Linux
        run: npm test
        if: runner.os != 'Linux'
